{% extends "main_site/header.html" %}

{% block content %}

<h1 class="display-1">Hello!</h1>
	<p class="lead">Welcome to my site! My name is <u>Megha</u>. I'm a graduate of New York University and currently live in <u>Atlanta, GA</u> where I work as a full-stack software developer at <u>eVestment</u>.
	</p>
<h4>Other things about me:</h4>
	<p class="lead">I majored in Comp Sci and Poli Sci at <u>NYU</u>.
		<br> <u>Soccer</u> is life.  
		<br>I am almost always listening to <u>some tunes</u>.  
		<br>I've <u>traveled</u> a lil'.
	</p>

<!-- <iframe src="https://open.spotify.com/embed?uri=spotify:user:1254501567:playlist:0pOENcw8pyfEbWeXPq6eWI" width="300" height="300" frameborder="0" allowtransparency="true"></iframe> -->


{% endblock %}