<!Doctype html>

<html class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Megha Madan">
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Megha Madan</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <script src="/static/js/modernizr.custom.js"></script>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="about">
    <div id="div1">
        <nav class = "cl-effect-21">
            <a href="/graphics" class="active">Back to Graphics Projects</a>
        </nav>
        <header class="about">
            <p class="about">I chose to take this course because I am interested in how all the work I created in previous computer science classes actually made it to our screens. With this general interest, I realized how much of our technology actually revolves around computer graphics. Whether it was my smartphone or the latest blockbuster movie out at the time, computer graphics had some kind of role to play. I was also completing Linear Algebra at the time and learning about Singular Value Decomposition where I read how we use SVD to pack so many pixels while taking up less space. With all these pieces put together, I decided CG would be a blast and a great learning experience.

            I am looking forward to learning about the new technology behind virtual reality which I know will be discussed. I am also interested in learning about animation and how objects are represented correctly in 3D space on a computer screen. In addition, I would like to learn how to use software to create the graphics that are used in media today. I know we will be using unity, but I would love to learn how unity is similar or different from software like Maya or Houdini by learning how they work under the surface.</p>
        </header>
    </div>
	
</body>

</html>
